<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MLB Trivia</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <div class="container">
        <div class="page-header">
            <h1>MLB Trivia</h1>
            <h3>Think you know everything there is to know about this Amazin' Mets team? Take our Mets quiz and find out.</h3>
        </div>
    <!-- Hook on the controller for this view and specify when to show it using ng-hide -->
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
        <!-- search form -->
        <form class="form-inline well well-sm clearfix">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" 
          placeholder="Search... "
          class="form-control"
          ng-model="list.search">
          <button class="btn btn-warning pull-right"
          ng-click="list.activateQuiz()">
            <strong>Start Trivia</strong>
          </button>
        </form>
        <!-- end search form -->
        <div class="row">
                <div class="col-sm-12" ng-repeat="player in list.data | filter:list.search">
                    <!-- using a bootstrap well to style -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- ng-src instead of src to allow correct functionality with angular -->
                                <img ng-src="{{player.image_url}}" class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-9">
                                <!-- ng-src instead of src to allow correct functionality with angular -->
                                <h4>{{ player.type }}</h4>
                                <!-- more angular data binding -->
                                <p><strong>Locations: </strong>{{ player.locations }}</p>
                                <!-- <p><strong>Size: </strong>{{ player.size}}</p> -->
                                <p><strong>MVP: </strong>{{ player.lifespan }}</p>
                                <p>{{ player.description }}</p>
                                <!-- ng-click is an angular directive to allow click events within angular -->
                                <!-- data-toggle and data-target are bootstrap attributes to trigger the popup modal -->
                                <button class="btn btn-primary pull-right"
                                    data-toggle="modal"
                                    data-target="#player-info"
                                    ng-click="list.changeActivePlayer(player)">Learn More</button>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
          </div><!-- col sm 12 -->
        </div><!-- row -->
        <div class="modal" id="player-info">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3>{{ list.activePlayer.type }}</h3>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                    <img ng-src="{{ list.activePlayer.image_url }}" class="ng-rounded img-responsive">
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-xs-12">
                    <p><strong>Location: </strong>{{ list.activePlayer.locations }}</p>
                    <p><strong>Size: </strong>{{ list.activePlayer.size }}</p>
                    <p><strong>MVP: </strong>{{ list.activePlayer.lifespan }}</p>
                    <p><strong>Award: </strong>{{ list.activePlayer.diet }}</p>
                  </div>
                  <div class="col-xs-12 top-buffer">
                    <p>{{ list.activePlayer.description }}</p>
                    <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->
      </div><!-- controller listctrl -->

      <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
        <h3>Quiz Section</h3>
      </div><!-- quizCtrl -->
    </div><!-- container -->

    <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Our application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataservice.js"></script>

</body>
</html>
